body {
  background-color :  #1a1a1a;
 
  background-image:
    linear-gradient(to right, rgba(229,231,235,0.1) 0.1px, transparent 1px),
    linear-gradient(to bottom, rgba(229,231,235,0.1) 0.1px, transparent 1px);
  background-size: 40px 40px;
}

@media (max-width: 600px) {
   pre{
      display : none;
   }
  body {
    background-size: 20px 20px;
    background-image:
      linear-gradient(to right, rgba(229,231,235,0.15) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(229,231,235,0.15) 1px, transparent 1px);
  }
} 


.social-icon{
   font-family: "Savate", sans-serif;
   font-weight : bold;
   font-size : 20px
}

.social-follow{
   letterSpacing : '2px';
   font-family: "Miltonian";
   font-size : 25px;
   color : white
}

.skill-box { 
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.pages{
   letterSpacing : '4px';
   font-weight : normal;
   font-size : 25px;
   color : white
}

.content{
   color : white;
   letterSpacing : '2px';
   font-size : 25px
}

